* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", 'Segoe UI', sans-serif;
  background: #f2efea;/*#f2efea          e7e1d8*/
  color: #111;
  line-height: 1.6;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
}

header {
  background: #e7e1d8; /*#f2efea*/
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #ddd;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

header h1 {
  font-weight: 600;
  font-size: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 1rem;
}

nav .btn {
  border: 1px solid #111;
  padding: 0.3rem 1rem;
  border-radius: 8px;
  background: #e5e1d9;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

nav .btn:hover{
  background-color: #000000;
  color: #fffdfa;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.botones button {
  background: #e7e1d8;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 1rem 1rem 2rem 0;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
}

.targets {
  background: #e7e1d8;
  padding: 1.5rem;
  border-radius: 20px;
}

.targets ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
  list-style: none;
}

.targets li span {
  font-size: 1.5rem;
  display: block;
}

.servicios {
  background-color: #E75234;
  display: flex;
  flex-direction: column;
  height: 450px;
}

.button{
  align-self: flex-end;
  margin: 0px 45px 45px 45px;
}


.card-title{
  background-color: #f2efea;
  padding: 0.2rem;
  padding-top: 0.4rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.card-info {
  padding: 1rem;
}

.servicios h2{
  padding-top: 2rem;
  text-align: left;
  padding-left: 9rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.servicios p{
  padding-top: 0rem;
  font-size: small;
}

.presentacion p{
  padding-bottom: 8px;
}

.item1{
  background-color: #E5E1D9;
  margin: 0.5rem;
  padding-right: 0%;
  padding-left: 0%;
  border-radius: 1rem;
  width: 320px;
  height: 200px;
  text-align: center;
  font-size: 1.5rem;
}

.cotizar{
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  background-color: #000000;
  color: white;
}


.elegirnos{
  background-color: #f2efea;
  text-align: center;
  font-family: sans-serif;
  padding: 2rem;
}

.elegirnos h2 {
  text-align: left;
  padding-left: 8rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 1rem;
  justify-items: center;
}

.item {
  background-color: #E5E1D9;
  padding: 1rem;
  border-radius: 1rem;
  width: 300px;
  height: 140px;
  text-align: left;
  font-size: 1.5rem;
}


.portfolio {
  background-color: #96ADD6;
}

.quienes .row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.quienes .col {
  flex: 1;
}

.team .personas {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.team .card {
  background: #e7e1d8;
  padding: 2rem;
  border-radius: 15px;
  text-align: center;
}

.portfolio-card {
  height: 200px;
  background: #e7e1d8;
  border-radius: 20px;
  margin-top: 1rem;
}

footer {
  background: #111;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

footer h3 span {
  color: #ccc;
}

@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  .targets ul {
    flex-direction: column;
  }

  .team .personas {
    flex-direction: column;
  }
}

#contacto{
  text-align: left;
  font-size: 20px;
}

#contacto h3{
  font-size: 30px;
  margin-bottom: 40px;
}

#contacto .contacto{
  font-size: 25px;
}